<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MENU</title>
</head>
<body>
 <h1>MENU</h1>
 <ul>
   <li><a href="/Factorial?num=5">Factorial</a></li> 
   <li><a href="/AnioBisiesto?num=2020">Año Bisiesto</a></li>
   <li><a href="/NumeroPar?num=2">Par O impar</a></li>
   <li><a href="/MesdeAnio?num=4">Mes</a></li>
   <li><a href="/NotaAlumnoa?num=8">Nota Alumno</a></li>
   <li><a href="/Secuencia_1?num=80">Secuencia 1</a></li>
   <li><a href="/Secuencia_2?num=0">Secuencia 2</a></li>
   <li><a href="/mostrar_1?num=320">Mostrar 1</a></li>
   <li><a href="/mostrar_2?num=320">Mostrar 2</a></li>
   <li><a href="/mostrar_3?num=320">Mostrar 3</a></li>
   <li><a href="/Tiempo?num=6">Saber en cuanto tiempo tarda encaer un objeto a determinada altura</a></li>
 </ul>

</body>
</html>